@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  padding: 0;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 400;

  background-color: #fff;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

hr {
  border: none;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.06);
  margin: 8px 0;
}

a {
  color: rgba(218, 41, 28, 1);
}

table.with-row-spacing td {
  padding: 2px 0;
}

.container {
  background-color: skyblue;
}

/* Utils*/

.text-capitalize {
  text-transform: capitalize;
}

.text-lg {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.text-md {
  font-size: 12px;
  line-height: 20px;
}

.text-bold {
  font-weight: 700;
}

.text-semi-bold {
  font-weight: 600;
}

.text-red {
  color: rgba(218, 41, 28, 1);
}

.text-gray {
  color: #5e6470 !important;
}

.colon-before::before {
  content: ": ";
}

.tag {
  padding: 1px 8px;
  border-radius: 4px;
}

.tag-green {
  color: #52c41a;
  border: 1px solid #b7eb8f;
  background-color: #f6ffed;
}

.tag-red {
  color: #f5222d;
  border: 1px solid #ffa39e;
  background-color: #fff1f0;
}

.tag-gold {
  color: #faad14;
  border: 1px solid #ffe58f;
  background-color: #fffbe6;
}

.tag-magenta {
  color: #eb2f96;
  border: 1px solid #ffadd2;
  background-color: #fff0f6;
}

.tag-volcano {
  color: #fa541c;
  border: 1px solid #ffbb96;
  background-color: #fff2e8;
}

/* Custom Style */
#header,
#content {
  padding: 0 24px;
}

.qr-image {
  width: 160px;
  height: 160px;
  object-fit: fill;
}

.box-file-title {
  padding: 16px 12px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.02);
}

.box-file-title .icon {
  width: fit-content;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
}

.box-file-title .icon img {
  height: 32px;
}

.detail-content {
  margin-top: 24px;
}

.detail-content table tr td:nth-child(1) {
  width: 40%;
}
